@import url("reset.css");

.wrap {
  width: 700px;
  height: auto;
  margin: 50px auto 0;
}

.coloringWrap {
  position: relative;
  width: 715px;
  height: 520px;
  padding-right: 220px;
}
.coloringWrap .coloringArea {
  width: 500px;
  height: 100%;
  padding: 20px;
  border: 1px solid #000;
  background-color: #fff;
  text-align: center;
}
.coloringArea object {
  display: inline-block;
  max-width: 400px;
  height: 100%;
}

.coloringWrap .sketchListArea {
  overflow-y: auto;
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
}
.sketchList {
  margin: -2px 0;
}
.sketchList li {
  display: inline-block;
  position: relative;
  width: 50%;
  height: 100px;
  margin: 2px 0;
  padding: 0 2px;
  vertical-align: top;
}
.sketchList li button {
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  background-color: #d6d6d6;
  opacity: 0.7;
}
.sketchList li.on button,
.sketchList li button:hover,
.sketchList li button:focus {
  border-color: #000;
  opacity: 1;
}
.sketchList li img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  max-height: 80%;
  transform: translate(-50%, -50%);
}

.colorChipArea {
  width: 385px;
  margin: 25px auto 0;
  font-size: 0.6rem;
  text-align: center;
}
.colorChipArea ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.colorChipArea button {
  width: 100%;
  height: 100%;
  font-size: 0.6rem;
  vertical-align: top;
}

.btnGreen {
  background-color: #4caf50;
}

.btnYellowGreen {
  background-color: #9acd32;
}

.btnYellow {
  background-color: #ffc107;
}

.btnMagenta {
  background-color: #e91e63;
}

.btnCherryRed {
  background-color: #e91e1e;
}

.btnOrange {
  background-color: #f3753a;
}

.btnPink {
  background-color: #ff7676;
}

.colorUserBox {
  position: relative;
  margin-top: 20px;
  padding-right: 55px;
}
.colorPicker {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
}
.colorPicker .colorChipPicker {
  display: inline-block;
  width: 50px;
  height: 25px;
  border: 1px solid #000;
  background-color: #000;
  color: #000;
  vertical-align: top;
  line-height: 25px;
  cursor: pointer;
}
.colorPicker .picker {
  width: 50px;
  height: 25px;
  vertical-align: top;
}
.colorUserBox .colorChipUser li {
  background-color: #e2e2e2;
  color: #a1a1a1;
  line-height: 50px;
}

.mouse {
  display: inline-block;
  position: absolute;
  transform: translate(0, 0);
  width: 20px;
  height: 20px;
  background-color: tomato;
}
